<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/yyy2.jpg" alt="photo" height="270" width="110">
		</div>
	</div>
	<div class='col-xs-9'>
			<h3>
				Yuyang Yin 尹雨阳
			</h3>
			<p>
			I am currently a Ph.D student at Beijing Jiaotong University (BJTU) in <a href="http://mepro.bjtu.edu.cn/researcher.html"> MePro</a>, advised by Prof. <a href="https://weiyc.github.io/index.html">Yuchao Wei</a>.
            I was a student researcher at Centre for Frontier AI in <a href="https://www.a-star.edu.sg/">A*Star,Singapore</a>, advised by Dr.<a href="https://sites.google.com/site/pingliu264/"> Ping Liu</a>(Jan 2023 - July 2023).
			</p>


			
			<h3>
			Research Interests 
			</h3>
			<p>
			My research interest lies at the intersection of Computer Vision and Deep Learning. In particular, my work focuses on image generation/restoration etc.
		    Recently I focus on text-to-image generation based on diffusion modle.
			</p>


			<h3>
				Education History
			</h3>
			<p>
			Ph.D  Beijing Jiaotong University    2023-present
			</p>
			<p>
			B.D.  Beijing Jiaotong University    2019-2023
			</p>



		<h3 style="padding-top:-5px"></h3>
			
			{% if site.email %}
				 <a href="mailto: {{yuyangyin@bjtu.edu.cn}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>
			{% endif %}
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<!--			{% if site.website_zhihu %}-->
<!--				 <a href="https://www.zhihu.com/people/liao-zi-61" target="_blank"><i class="fa fa-globe"></i> &nbsp; {{site.website_zhihu}}</a>-->
<!--			{% endif %}		-->
 			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	                {% if site.website_google %}
				 <a href="https://scholar.google.com/citations?hl=zh-CN&user=r100Qh4AAAAJ" target="_blank"><i class="fa fa-globe"></i> &nbsp; {{site.website_google}}</a>
			{% endif %}
			
	</div>
</div>
