<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
	<div class="site-wrapper">
		<div class="section-card">
			{% include yyy_introduction.html %}
		</div>

		<div class="section-card">
			{% include yyy_publication.html %}
		</div>

		<div class="section-card">
			{% include yyy_under_review.html %}
		</div>

		<div class="section-card">
			{% include yyy_report.html %}
		</div>

		<div class="section-card">
			{% include yyy_other_publication.html %}
		</div>

		<div class="section-card">
			{% include yyy_intern.html %}
		</div>

		{% include footer.html %}

		<div style="display:inline-block;width:200px;margin:0 auto;">
			<script type="text/javascript"
				src="//rf.revolvermaps.com/0/0/8.js?i=52kjaog3f7q&amp;m=7&amp;c=ff0000&amp;cr1=ff007e&amp;f=arial&amp;l=33"
				async="async"></script>
		</div>
	</div>
</body>

</html>